/* Defines the general formatting. */
/* TODO: next beta remove checks for 3119. */
{%- if var.default_formatting %}
html { padding: 0; margin: 0; }
body {
  color: black;
  background-color: white;
  margin: 0;
  {%- if var.is_popup %}
  padding: {% if var.sublime_version >= 3119 %}0.2rem{% else %}0.2em{% endif %};
  {%- else %}
  padding: 0;
  {%- endif %}
  font-size: {% if var.sublime_version >= 3119 %}1rem{% else %}{{'+0px'|relativesize}}{% endif %};
}
/* Headers */
h1 { font-size: {% if var.sublime_version >= 3119 %}1.5rem{% else %}{{'+5px'|relativesize}}{% endif %}; }
h2 { font-size: {% if var.sublime_version >= 3119 %}1.4rem{% else %}{{'+4px'|relativesize}}{% endif %}; }
h3 { font-size: {% if var.sublime_version >= 3119 %}1.3rem{% else %}{{'+3px'|relativesize}}{% endif %}; }
h4 { font-size: {% if var.sublime_version >= 3119 %}1.2rem{% else %}{{'+2px'|relativesize}}{% endif %}; }
h5 { font-size: {% if var.sublime_version >= 3119 %}1.1rem{% else %}{{'+1px'|relativesize}}{% endif %}; }
h6 { font-size: {% if var.sublime_version >= 3119 %}1rem{% else %}{{'+0px'|relativesize}}{% endif %}; }
h1, h2, h3, h4, h5, h6 {
    margin-top: {% if var.sublime_version >= 3119 %}0.2rem{% else %}0.2em{% endif %};
    margin-bottom: {% if var.sublime_version >= 3119 %}0.2rem{% else %}0.2em{% endif %};
}
/* Blockquote support. */
blockquote { display: block; font-style: italic; }
/* Horizontal rule support. */
hr {
    display: block;
    padding: 1px;
    margin: {% if var.sublime_version >= 3119 %}1rem{% else %}1em{% endif %};
}
/* Description list support */
dl { display: block; }
dt {
    display: block;
    font-style: italic;
    font-weight: bold;
    margin-bottom: {% if var.sublime_version >= 3119 %}0.5rem{% else %}0.5em{% endif %};
}
dd {
    display: block;
    margin-left: {% if var.sublime_version >= 3119 %}1.5rem{% else %}1.5em{% endif %};
    margin-bottom: {% if var.sublime_version >= 3119 %}0.5rem{% else %}0.5em{% endif %};
}
/* Preformatted block */
pre { display: block; }
/* Blocks */
blockquote, ol, ul, dl, p, div {
    padding: 0;
    margin-top: 0;
    margin-bottom: {% if var.sublime_version >= 3119 %}0.5rem{% else %}0.5em{% endif %};
    margin-left: 0;
    margin-right: 0;
}
ul, ol { padding-left: {% if var.sublime_version >= 3119 %}2rem{% else %}2em{% endif %}; }
/* Special classes */
.highlight { padding: {% if var.sublime_version >= 3119 %}0.5rem{% else %}0.5em{% endif %}; }
.admonition { padding: {% if var.sublime_version >= 3119 %}0.5rem{% else %}0.5em{% endif %}; }
{% endif %}
