# OS
.DS_Store

# docs
docs/html/
site/
build/

# editors
.sublime/
*.sublime-project
*.sublime-workspace

# python
__pycache__/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.venv/
*.py[oc]

# build artefacts
dist/

# Unit test / coverage reports
htmlcov/
.tox/
*,cover
.cache
.coverage
.coverage.*
coverage.xml
nosetests.xml
