/* General Markdown */
html { background-color: #e6f5ff; } /* Html fake border color */
/* Defines the general look of the font and provides a little margin. */
body {
    color: #4d4d4c;
    background-color: #fcfcfc;
    margin: 1px;
    font-size: 1em;
}
/* Headers */
h1, h2, h3, h4, h5, h6 { color: #718c00; }
h1 { font-size: 1.5em; }
h2, h3, h4, h5, h6 { font-size: 1.2em; }
/* Blockquote support. */
blockquote {
    padding: 0.5em;
    display: block;
    color: #8e908c;
    font-style: italic;
}
/* Horizontal rule support. */
hr {
    display: block;
    padding: 1px;
    margin: 1em 3em;
    background-color: #e6f5ff;
}
/* Description list support */
dl {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
}
dt { display: block; font-style: italic; font-weight: bold; }
dd { display: block; margin-left: 2em; }
a { color: #3e999f; } /* Links */
.content { margin: 0.5em; } /* Content wrapper div. */

/* General classes that give the feel of a theme. */
.st-background { background-color: #fcfcfc }
.st-foreground { color: #4d4d4c; }
.st-comment { color: #8e908c; }
.st-constant {color: #f5871f;}
.st-keyword { color: #8959a8; }
.st-string { color: #718c00; }
.st-entity { color: #4271ae; }
.st-storage { color: #eab700; }
.st-variable { color: #3e999f; }
.st-invalid { color: #c82829; }

/*
Colored emphasis to convey a feeling when
we don't want to gamble with what color the st-classes will return.
 */
.neutral { color: #4271ae; }
.positive { color: #718c00; }
.negative { color: #c82829; }
.mark-neutral { background-color: #4271ae; color: #fafdff; }
.mark-positive { background-color: #718c00; color: #fafdff; }
.mark-negative { background-color: #c82829; color: #fafdff; }

/* Admonition blocks */
.admonition { padding: 0.5em; background-color: #E9EEF4; }
.hint, .tip { padding: 0.5em; background-color: #EEF1E3; }
.danger, .error { padding: 0.5em; background-color: #F6E7E7; }
.important, .attention { padding: 0.5em; background-color: #E9F2F2; }
.caution, .warning { padding: 0.5em; background-color: #FBF0E6; }
.note { padding: 0.5em; background-color: #FAF5E3; }

/* Code Highlighting */
.codehilite { padding: 0.5em; }
.codehilite, .inlinehilite { background-color: #f8f8f8; color: #4d4d4c }
.c { color: #8e908c; font-style: italic } /* Comment */
.err { color: #c82829 } /* Error */
.k { color: #8959a8; font-weight: bold } /* Keyword */
.l { color: #f5871f } /* Literal */
.n { color: #4d4d4c } /* Name */
.o { color: #3e999f } /* Operator */
.p { color: #4d4d4c } /* Punctuation */
.cm { color: #8e908c; font-style: italic } /* Comment.Multiline */
.cp { color: #8e908c; font-weight: bold } /* Comment.Preproc */
.c1 { color: #8e908c; font-style: italic } /* Comment.Single */
.cs { color: #8e908c; font-style: italic } /* Comment.Special */
.gd { color: #c82829 } /* Generic.Deleted */
.ge { font-style: italic } /* Generic.Emph */
.gh { color: #4d4d4c; font-weight: bold } /* Generic.Heading */
.gi { color: #718c00 } /* Generic.Inserted */
.gp { color: #8e908c; font-weight: bold } /* Generic.Prompt */
.gs { font-weight: bold } /* Generic.Strong */
.gu { color: #3e999f; font-weight: bold } /* Generic.Subheading */
.kc { color: #8959a8; font-weight: bold } /* Keyword.Constant */
.kd { color: #8959a8; font-weight: bold } /* Keyword.Declaration */
.kn { color: #8959a8; font-weight: bold } /* Keyword.Namespace */
.kp { color: #8959a8; font-weight: bold } /* Keyword.Pseudo */
.kr { color: #8959a8; font-weight: bold } /* Keyword.Reserved */
.kt { color: #eab700; font-weight: bold } /* Keyword.Type */
.ld { color: #718c00 } /* Literal.Date */
.m { color: #f5871f } /* Literal.Number */
.s { color: #718c00 } /* Literal.String */
.na { color: #4271ae } /* Name.Attribute */
.nb { color: #4271ae } /* Name.Builtin */
.nc { color: #c82829; font-weight: bold } /* Name.Class */
.no { color: #c82829 } /* Name.Constant */
.nd { color: #3e999f } /* Name.Decorator */
.ni { color: #4d4d4c } /* Name.Entity */
.ne { color: #c82829; font-weight: bold } /* Name.Exception */
.nf { color: #4271ae; font-weight: bold } /* Name.Function */
.nl { color: #4d4d4c } /* Name.Label */
.nn { color: #4d4d4c } /* Name.Namespace */
.nx { color: #4271ae } /* Name.Other */
.py { color: #4d4d4c } /* Name.Property */
.nt { color: #c82829 } /* Name.Tag */
.nv { color: #c82829 } /* Name.Variable */
.ow { color: #3e999f } /* Operator.Word */
.w { color: #4d4d4c } /* Text.Whitespace */
.mb { color: #f5871f } /* Literal.Number.Bin */
.mf { color: #f5871f } /* Literal.Number.Float */
.mh { color: #f5871f } /* Literal.Number.Hex */
.mi { color: #f5871f } /* Literal.Number.Integer */
.mo { color: #f5871f } /* Literal.Number.Oct */
.sb { color: #718c00 } /* Literal.String.Backtick */
.sc { color: #4d4d4c } /* Literal.String.Char */
.sd { color: #8e908c } /* Literal.String.Doc */
.s2 { color: #718c00 } /* Literal.String.Double */
.se { color: #f5871f } /* Literal.String.Escape */
.sh { color: #718c00 } /* Literal.String.Heredoc */
.si { color: #f5871f } /* Literal.String.Interpol */
.sx { color: #718c00 } /* Literal.String.Other */
.sr { color: #718c00 } /* Literal.String.Regex */
.s1 { color: #718c00 } /* Literal.String.Single */
.ss { color: #718c00 } /* Literal.String.Symbol */
.bp { color: #f5871f } /* Name.Builtin.Pseudo */
.vc { color: #c82829 } /* Name.Variable.Class */
.vg { color: #c82829 } /* Name.Variable.Global */
.vi { color: #c82829 } /* Name.Variable.Instance */
.il { color: #f5871f } /* Literal.Number.Integer.Long */
