name: deploy documentation

on:
  push:
    tags:
    - '*'

jobs:

  documents:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-python@v5
      with:
        python-version: 3.13
    - name: Install dependencies
      run: |
        python -m pip install -r docs/src/requirements.txt
    - name: Deploy documents
      run: |
        git config user.name facelessuser
        git config user.email "${{ secrets.GH_EMAIL }}"
        git remote add gh-token "https://${{ secrets.GH_TOKEN }}@github.com/facelessuser/sublime-markdown-popups.git"
        git fetch gh-token && git fetch gh-token gh-pages:gh-pages
        python -m mkdocs gh-deploy -v --clean --remote-name gh-token
        git push gh-token gh-pages
